{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header id="header" >
    <div class="container-fluid">
        <div class="row">
            {% if page.header is not empty %}
                <div class="col-12" role="heading">
                    {{ page.header }}
                </div>
            {% endif %}
        </div>
    </div>
</header>
<section id="header_content">
    <div class="container-fluid">
        <div class="row">
            {% if page.header_sidebar is not empty %}
                <div class="col-12 col-lg-3">
                    {{ page.header_sidebar }}
                </div>
            {% endif %}
            {% if page.header_sidebar is empty  %}
                <div class="col-12 col-lg-12">
                    {{ page.header_content }}
                </div>
            {% else %}
                <div class="col-12 col-sm-9">
                    {{ page.header_content }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
<section id="main">
    <div class="container-fluid">
        <div class="row">
            {% if page.left_sidebar is not empty %}
                <div class="col-12 col-lg-3">
                    {{ page.left_sidebar }}
                </div>
            {% endif %}
            {% if page.left_sidebar is empty  %}
                <div class="col-12">
                    {{ page.content }}
                </div>
            {% else %}
                <div class="col-12 col-lg-9">
                    {{ page.content }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row">
            {% if page.footer is not empty %}
                <div class="col-12">
                    {{ page.footer }}
                </div>
            {% endif %}
        </div>
    </div>
</footer>
